<h2>My Heroes</h2>

<div>
  <label for="new-hero">Hero name: </label>
  <input id="new-hero" [(ngModel)]="nameInput" placeholder="Hero name" />

  <!-- (click) passes input value to add() and then clears the input -->
  <button class="add-button" (click)="add(nameInput); clearNameInput()">
    Add hero
  </button>
</div>

<ul class="heroes">
  <li *ngFor="let hero of heroes; let i=index">
    <i class="clickspan" (click)="select(i); clearMessage()" >
        <span class="badge" >{{hero.id}} </span> {{hero.name}}
    </i>

    <button class="delete" title="delete hero"
      (click)="delete(i)">x</button>

  </li> 
</ul>

<div *ngIf="choose != -1"  >You choose {{heroes[choose].name  }}!! </div>

<button class="View Details" title="View Details" 
      (click)="gotoItem()" >  Show Details</button> 

<i class="Message"  >
        <span class="badge"   >{{this.message}} </span>
</i>
<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->