/* HeroesComponent's private CSS styles */
.heroes {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 15em;
}

input {
  display: block;
  width: 100%;
  padding: .5rem;
  margin: 1rem 0;
  box-sizing: border-box;
}

.heroes li {
  position: relative;
  cursor: pointer;
}

.heroes li:hover {
  left: .1em;
}

.heroes i {
  color: #333;
  text-decoration: none;
  background-color: #EEE;
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
  display: block;
  width: 100%;
}

.heroes i:hover {
  color: #2c3a41;
  background-color: #e6e6e6;
}

.heroes i:active {
  background-color: #25dd1f;
  color: #fafafa;
}

.heroes  i   .badge {
  display: inline-block;
  font-size: medium;
  color: rgba(255, 255, 255, 0.726);
  padding: 0.8em 0.7em 0 0.7em;
  background-color:#392f4b;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.3em;
  min-width: 16px;
  text-align: right;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}

.add-button {
 padding: .5rem 1.5rem;
 font-size: 1rem;
 margin-bottom: 2rem;
}

.add-button:hover {
  color: white;
  background-color: #98e61b;
}

button.delete {
  position: absolute;
  left: 210px;
  top: 10px;
  background-color: rgb(255, 255, 255);
  color:  #88b129;
  font-size: 1.1rem;
  padding: 1px 10px 3px 10px;
}

button.delete:hover {
  background-color: #23e711;
  color: white;
}


/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
*/